.background-container-guest {
    background-image: url('../assets/images/guest.png');
    background-size: cover;
    background-position: center;
    height: 230vh;
    width:70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    margin-top: 10%;
  }
  
  .form-container-guest {
    background-color: rgba(245, 238, 238, 1.1); 
    opacity: 0.9;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
  }
  
  .guest-form-column {
    flex: 1;
    margin-right: 10px; /* Adjust the margin as needed */
  }
  

  .guest-form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .guest-form-row label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    width:75%;
}
  
  .guest-form-row input[type="text"],
  .guest-form-row input[type="email"],
  .guest-form-row input[type="password"],
  .guest-form-row select,
  .guest-form-row input[type="date"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-sizing: border-box;
  }
  
  .guest-form-row select {
    height: 38px; 
  }
  
  
  